@mixin font($size, $height, $weigth: 400, $style: normal) {
    font-size: $size;
    line-height: $height;
    font-weight: $weigth;
    font-style: $style;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}