.advantages {
    background-color: $black;

    @include tablet {
        padding: 48px 0 64px;
    }
        

    .advantages__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 341px;

        @include tablet {
            flex-direction: column;
        }
    }
    
    .advantages__item {
        align-items: center;
        width: 360px;
        display: flex;
        flex-direction: column;

        @include tablet {
            margin: 0 0 49px;
        }

        &-last {
            @include tablet {
                margin: 0;
            }
        }

        &-text {
            color: $white;
            font-size: 14px;
            font-weight: 300;
            line-height: 17px;
            text-align: center;
        }
    }
    
    .advantages__item-heading {
        color: $white;
        margin: 25px 0 16px;
        font-size: 20px;
        line-height: 24px;
    }
    

}

