.headline {
    background-color: $pink;
    height: 148px;
    margin-bottom: 96px;

    .headline__reg {
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        color: $pink-border;
        padding: 59px 0 0 0;
    }
}
