.info {
    background-color: $black;

    .info__blocks {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 79px;

        @include mobile {
            min-height: 143px;
            flex-direction: column-reverse;
            justify-content: space-around;
        }
    }
    
    .info__text {
        color: $white;
        padding-left: 60px;

        @include mobile {
            padding: 9px 0 0 0;
        }
    }

    .info__media {
        @include tablet {
            margin: 0 40px 0 0;
        }

        @include mobile {
            margin: 0;
            padding: 50px 0 0 0;
        }
    }
}