.info {
    background-color: $black;

    .info__blocks {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 79px;
    }
    
    .info__text {
        color: $white;
        padding-left: 60px;
    }

    .info__media {
        @include tablet {
            margin: 0 32px 0 0;
        }
    }
}